body {
    display: block;
    font-family: RobotoDraft, sans-serif;
    color: #494949;
    /*background-color: rgb(237, 237, 237);*/
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
}

/*
core-header-panel {
    height: 100%;
}

[drawer] {
    background-color: rgb(237, 237, 237);
    box-sizing: border-box;
    padding: 8px;
}

.content {
    overflow-x: hidden;
    overflow-y: scroll;
}

.inner-content {
    display: block;
}

core-header-panel /deep/ #dropShadow {
    box-shadow: inset 0 5px 6px -3px rgba(0, 0, 0, 0.26);
}
*/
